# Minimal NPM Config
# Lumirelle <https://github.com/Lumirelle>

shamefully-hoist=true # 将所有依赖项提升到顶级，主要针对 pnpm
engine-strict=true # 强制执行 package.json 中定义的 engines 约束
verify-deps-before-run=prompt # 在运行脚本前验证依赖项
