# Use shamefully hoist for better compatibility
shamefully-hoist=true

# Ignore the check of the workspace root directory
ignore-workspace-root-check=true

# If the dependencies in `node_modules` are not synchronized with those in `package.json`, reinstall them before running the script
verify-deps-before-run=install

# Use a shell emulator to provide cross-platform operation support for npm scripts
# Is equivalent to what the `cross-env` package does
# shell-emulator=true
