[user]
# Please replace the following with your own information.
name = Lumirelle
email = shabbyacc@outlook.com

[credential "https://gitee.com"]
provider = generic

[core]
ignorecase = false
symlinks = true

[log]
date = short
decoration = short

[init]
defaultBranch = main

[branch]
sort = -committerdate

[fetch]
prune = true
output = compact
# !! Do not set `pruneTags` as `true`, it's not compatible with some tag tools, like `bumpp` !!
# Because `bumpp` will create a local tag and fetch from remote, then push the local tag to remote.
# If we set `pruneTags` as `true`, it will delete the local tag when fetching from remote, which is not what we want.
# So, we need to set `pruneTags` as `false`.
pruneTags = false

[pull]
rebase = true

[merge]
conflictstyle = zdiff3
ff = no

[diff]
algorithm = histogram

[rerere]
enabled = true

[alias]
# ENHANCEMENTS ALIASES
# aliases
aliases = "!git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /"
# log
log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
last = log -1 HEAD --stat
# config
list-config = config --list
config-global = config --global
# discard
discard = "!git checkout -- $@"
discard-all = "!git checkout -- ." # Discard all tracked changes in the working directory
# add
add-all = "!git add ."
undo-add = "!git reset HEAD -- $@"    # Move staged changes back to the working directory
undo-add-all = "!git reset HEAD -- ." # Move all staged changes back to the working directory
# commit
commit-with-message = commit --message
undo-commit = "!git reset --soft HEAD^"                    # Move commit back to the staging area
add-all-then-commit = "!git add . && git commit --message" # Add all changes and commit.
# amend
amend-commit = commit --amend --no-edit
amend-commit-with-edit = commit --amend
# wip
wip = "!git add . && git commit --message 'wip: temporary commit'"
undo-wip = "!git log -n 1 | grep -q -c 'wip' && git reset HEAD~1"
# stash
list-stash = stash list
new-stash = stash push
undo-stash = stash pop
delete-stash = stash drop
# branch
list-branches = branch
list-remote-branches = branch --remote
list-all-branches = branch --all
new-branch = branch
delete-branch = branch --delete
force-delete-branch = branch --delete --force
# switch
branch-then-switch = switch --create
# merge
merge-with-message = "!git merge $1 --no-ff --message $2"
abort-merge = merge --abort
# rebase
abort-rebase = rebase --abort
# tag
list-tags = tag --list
list-tags-remote = ls-remote --tags
tag-remote = push origin
discard-tag = "!git tag --delete $(git tag --list $1 | grep -v $1)"
discard-tag-remote = push origin --delete
# remote
list-remotes = remote --verbose
fetch-prune-tags = fetch --prune-tags # We will clean up unused tags when specify command `*-prune-tags`
pull-prune-tags = "!git fetch --prune-tags && git pull"
# push
delete-push = push --delete
push-upstream = push --set-upstream

# SHORTCUTS ALIASES
# -- PREFIX INTRO
# perfix `l` is used for `list`
# perfix `z` is used for `abort`, which means abort an operation
# perfix `u` is used for `undo`, which recovers the status
# perfix `x` is used for `discard & delete`, which means drop things
# perfix `xx` is used for `force discard & delete`
# -- SUFFIX INTRO
# suffix `g` is used for `global`
# suffix `a` is used for `all`
# suffix `m` is used for `multiple`
# suffix `r` is used for `remote`
# -- ALIAS LIST
# config: cf
lcf = list-config
cf = config
cfg = config-global
# init: i
i = init
# clone: cl
cl = clone
# discard: x
x = discard
xa = discard-all
# add: a
a = add
aa = add-all
ua = undo-add
uaa = undo-add-all
# commit: c
c = commit-with-message
uc = undo-commit
ac = add-all-then-commit # Why not use `aac`? Because `add-all` is used very frequently, and `ac` is more concise
# amend: amd
amd = amend-commit
amde = amend-commit-with-edit
# wip: wip
uwip = undo-wip
# stash: s
ls = list-stash
s = new-stash
us = undo-stash
xs = delete-stash
# branch: b
lb = list-branches
lbr = list-remote-branches
lba = list-all-branches
b = new-branch
xb = delete-branch
xxb = force-delete-branch
# switch: w
w = switch
bw = branch-then-switch
# merge: m
m = merge-with-message
zm = abort-merge
# rebase: r
r = rebase
zr = abort-rebase
# reset: rs
rs = reset
# cherry-pick: cp
cp = cherry-pick
# tag: t
lt = list-tags
ltr = list-tags-remote
t = tag
tr = tag-remote
xt = discard-tag
xtr = discard-tag-remote
# remote: re
lre = list-remotes
re = remote add
# fetch: f
f = fetch-prune-tags
# pull: l
l = pull-prune-tags
# push: p
p = push
xp = delete-push
pu = push-upstream
