[user]
# Please replace the following with your own information.
name = Lumirelle
email = shabbyacc@outlook.com

[credential "https://gitee.com"]
provider = generic

[core]
ignorecase = false
symlinks = true

[log]
date = short
decoration = short

[init]
defaultBranch = main

[branch]
sort = -committerdate

[fetch]
prune = true
output = compact
# !! Do not set `pruneTags` as `true`, it's not compatible with some tag tools, like `bumpp` !!
# Because `bumpp` will create a local tag and fetch from remote, then push the local tag to remote.
# If we set `pruneTags` as `true`, it will delete the local tag when fetching from remote, which is not what we want.
# So, it's recommended to set `pruneTags` as `false`, and set a alias to sync tags instead.
pruneTags = false

[pull]
rebase = true

[merge]
conflictstyle = zdiff3
ff = no

[diff]
algorithm = histogram

[rerere]
enabled = true

[alias]
# ENHANCEMENTS ALIASES
# aliases
# WHY USING `!`?
# 1: `!` means execute the command in the shell, not in the git command line.
aliases = "!git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /"
# log
log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
log-last = log -1 HEAD --stat
# config
config-list = config --list
config-global = config --global
# discard
discard = checkout --
discard-all = checkout -- . # Discard all **tracked changes** in the working directory
# add
add-all = add .
add-undo = reset HEAD --       # Move staged changes back to the working directory
add-undo-all = reset HEAD -- . # Move all staged changes back to the working directory
# commit
commit-with-message = commit --message
commit-undo = reset --soft HEAD^ # Move commit back to the staging area
# add & commit
# WHY USING FUNCTION?
# 1: Support special characters in parameters.
# 2: Support variables.
# 3: Refuse unexpected parameters provided by user.
add-all-then-commit = "!f() { \
  git add .; \
  git commit --message \"$1\"; \
}; f"
# amend commit
amend-commit = commit --amend --no-edit
amend-commit-with-edit = commit --amend
# wip
wip = "!git add . && git commit --message 'wip: temporary commit'"
wip-undo = "!git log -n 1 | grep -q -c 'wip' && git reset HEAD~1"
# stash
stash-list = stash list
stash-push = stash push
stash-undo = stash pop
stash-drop = stash drop
# branch
branch-list = branch
branch-list-remote = branch --remote
branch-list-all = branch --all
branch-delete = branch --delete
branch-force-delete = branch --delete --force
# branch & switch
branch-then-switch = switch --create
# merge
merge-with-default-message = "!f() { \
  current_branch=$(git branch --show-current); \
  git merge \"$1\" --no-ff --message \"merge: merge $1 into $current_branch\"; \
}; f"
merge-abort = merge --abort
# rebase
rebase-abort = rebase --abort
# tag
tag-list = tag --list
tag-list-remote = ls-remote --tags
tag-delete = tag --delete
tag-delete-multiple = "!f() { \
  git tag --list \"$1\" | xargs git tag --delete; \
}; f"
tag-sync-remote = "!f() { \
  git push origin :refs/tags/$1; \
  git fetch-prune-tags; \
}; f"
tag-sync-remote-multiple = "!f() { \
  git tag --list \"$1\" | xargs -I {} git push origin :refs/tags/{}; \
  git fetch-prune-tags; \
}; f"
# remote
remote-list = remote --verbose
# fetch
fetch-prune-tags = fetch --prune-tags # We will clean up unused tags when specify command `*-prune-tags`
# pull
pull-prune-tags = "!git fetch --prune-tags && git pull"
# push
push-delete = push --delete
push-upstream-current-branch = "!f() { \
  current_branch=$(git branch --show-current); \
  git push --set-upstream origin \"$current_branch\"; \
}; f"
# pull & push
pull-then-push = "!git pull-prune-tags && git push"

# SHORTCUTS ALIASES
#
# -- SUFFIX INTRODUCTION
# <TO SPECIFY ADDITIONAL BEHAVIOR>
# `l`: `list`
# `z`: `abort`, which means **interrupt an operation**, we will not complete the operation
# `u`: `undo`, which means recover the status **after an operation is completed**
# `x`: `discard | delete | drop`, which means **drop things** we don't need any more
# `xx`: `forcely discard | delete | drop`
# `s`: `sync`, which means **sync the changes** with the remote repository after we complete an operation locally
# <TO SPECIFY TARGET>
# `a`: `all`
# `r`: `remote`
# `g`: `global`
# `m`: `multiple`
#
# -- ALIAS LIST
# config: cf
cf = config
cfg = config-global
cfl = config-list
# init: i
i = init
# clone: cl
cl = clone
# discard: x
x = discard
xa = discard-all
# add: a
a = add
aa = add-all
au = add-undo
aua = add-undo-all
# commit: c
c = commit-with-message
cu = commit-undo
# add & commit: a*c*
ac = add-all-then-commit # Why not use `aac`? Because `add-all` is used very frequently, and `ac` is more concise
# amend commit: amc
amc = amend-commit
amce = amend-commit-with-edit
# wip: wip
wipu = wip-undo
# stash: s
s = stash-push # Why not use `sp`? Because `s` is more concise
sl = stash-list
su = stash-undo
sx = stash-drop
# branch: b
b = branch
bl = branch-list
blr = branch-list-remote
bla = branch-list-all
bx = branch-delete
bxx = branch-force-delete
# switch: w
w = switch
# branch & switch: b*w*
bw = branch-then-switch
# merge: m
m = merge-with-default-message
mz = merge-abort
# rebase: r
r = rebase
rz = rebase-abort
# reset: rs
rs = reset
# cherry-pick: cp
cp = cherry-pick
# tag: t
t = tag
tl = tag-list
tlr = tag-list-remote
tr = tag-remote
tx = tag-delete
txm = tag-delete-multiple
tsr = tag-sync-remote
tsrm = tag-sync-remote-multiple
# remote: re
rel = remote-list
re = remote add
# fetch: f
f = fetch-prune-tags
# pull: l
l = pull-prune-tags
# push: p
p = push
px = push-delete
pu = push-upstream-current-branch
# pull & push: l*p*
lp = pull-then-push
