# Use shamefully hoist mode, for more compatibility.
shamefully-hoist=true
# Ignore workspace root check
ignore-workspace-root-check=true

# If `node_modules` are not synchronized with the `package.json`, install them before running the script.
verify-deps-before-run=install

# Use shell simulator to provide multi-platform running support for npm scripts.
# For npm, you may use `cross-env` package.
# shell-emulator=true