[core]
  ignorecase = false
[user]
  name = Lyana
  email = shabbyacc@outlook.com
[credential "https://gitee.com"]
  provider = generic
[init]
  defaultBranch = main
[fetch]
  prune = true
[merge]
  ff = no
[pull]
  rebase = true
[alias]
  a = add
  c = commit
  cl = clone
  pl = pull
  ps = push
  st = stash
  sw = switch
  mg = merge
  rs = reset
  rb = rebase
  re = remote
  br = branch
  tg = tag
