[core]
  ignorecase = false
[user]
  name = Lyana
  email = shabbyacc@outlook.com
[credential "https://gitee.com"]
  provider = generic
[init]
  defaultBranch = main
[fetch]
  prune = true
[merge]
  ff = no
[pull]
  rebase = true
[alias]
  a = add
  b = branch
  c = commit
  cl = clone
  f = fetch
  m = merge
  p = push
  pl = pull
  r = rebase
  rm = remote
  rs = reset
  s = stash
  t = tag
  w = switch
