[core]
  ignorecase = false
[user]
  name = Lyana
  email = shabbyacc@outlook.com
[credential "https://gitee.com"]
  provider = generic
[init]
  defaultBranch = main
[merge]
  ff = no
[pull]
  rebase = true
[alias]
  ad = add
  cm = commit
  pl = pull
  ps = push
  sw = switch
  mg = merge
  rs = reset
  rb = rebase
  br = branch
  tg = tag
