[user]
  name = Lumirelle
  email = shabbyacc@outlook.com

[credential "https://gitee.com"]
  provider = generic

[core]
  autocrlf = false
  ignorecase = false
  symlinks = true

[log]
  date = short
  decoration = short

[init]
  defaultBranch = main

[branch]
  sort = -committerdate

[fetch]
  prune = true
  output = compact

[pull]
  rebase = true
[merge]
  conflictstyle = zdiff3
  ff = no

[diff]
  algorithm = histogram

[rerere]
  enabled = true

[alias]
  # aliases
  # -- improvement
  aliases = "!git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /"

  # log
  # -- improvement
  log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  last = log -1 HEAD --stat

  # edit
  # -- improvement
  discard = checkout --
  delete = reset HEAD --
  revocation = reset --soft HEAD^
  wip = "!git add . && git commit -m 'wip: temporary commit'"
  unwip = "!git log -n 1 | grep -q -c 'wip' && git reset HEAD~1"
  # -- shortcuts
  a = add .
  c = commit -m
  am = commit --amend --no-edit
  dl = delete
  rv = revocation
  rs = reset
  # -- combinations
  ac = "!git add . && git commit -m"

  # branch
  # -- shortcuts
  b = branch -a
  w = switch
  wc = switch -c

  # stash
  # -- shortcuts
  st = stash
  sp = stash pop

  # remote
  # -- shortcuts
  cl = clone
  f = fetch
  l = pull --rebase
  p = push
  cp = cherry-pick



